{% extends 'base.html' %}
{% load static %}
{% load bootstrap %}

{% block main %}

<form method="post">
    {% csrf_token %}

    {{ form|bootstrap }}

    <button type="submit" class="btn btn-main">Salvar</button>
    {% if object %}
        <a href="{% url 'delete_hora_extra' object.id %}" class="btn btn-danger">
            Deletar
        </a>
        <button onclick="utilizouHoraExtra({{object.id}}, 'True')" class="btn btn-info" type="button">
            Utilizou Hora Extra
        </button>
        <button onclick="utilizouHoraExtra({{object.id}}, 'False')" class="btn btn-danger" type="button">
           Não Utilizou Hora Extra
        </button>
    {% endif %}
</form>
<br>
<h1 id="horas_atualizadas">{{ object.funcionario.total_horas_extra }}</h1>
<p id="mensagem"></p>
{% endblock %}

{% block static %}
    <script src="{% static 'js/jquery.js' %}"></script>
    <script src="{% static 'js/funcoes-ajax.js' %}"></script>
{% endblock %}