{% extends 'base.html' %}
{% load bootstrap %}

{% block main %}

    Banco de Horas
<br>
    {% for registro_re in object_list %}
        <a href="{% url 'update_hora_extra' registro_re.id %}">
            {{ registro_re }}
        </a>
        <a href="{% url 'delete_hora_extra' registro_re.id %}">
            Deletar
        </a>
        <br>
    {% endfor %}
    {% if not object_list %}
        <h3>Não existem registros de hora extra no banco dados</h3>
    {% endif %}
<!--    <a href="" class="btn btn-info">Novo</a>a-->
{% endblock %}